.navbar-brand,
      .navbar-brand > span {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 49px;
      }
      .nav-link > li {
        font-family: 'Open Sans', sans-serif;
        color: #f6a973;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 49px;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans';
      }
      .container{
        /* width: 100vw;
        height: 100vh; */
        position: ;
        justify-content: center;
        align-items: center;
      }
      .search-box{
        display: flex;
        align-items: center;
        background-color: #f6a973;
        padding: 8px 16px;
        border-radius: 50px;
      }
      .search-box .search-icon{
        font-size: 1.18rem;
        color: white;
      }
      .search-box .search-input{
        transition: .5s;
        width: 0px;
        overflow: hidden;
      }
      .search-input .input{
        border: none;
        outline: none;
        background-color: unset;
        padding: 8px;
        font-weight: bold;
        background-color: white;
      }
  
      .search-box:hover .search-input{
        width: 200px;
        margin-left: 8px;
      }